@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply underline text-blue-500;
  }
}

body {
  font-family: 'Open Sans';
}

.welcome {
  height: 90vh;
  background-image: url("./portrait.jpeg");

}

.contact {
  height: 20vh;
}

.blue {
  color: #14213D;
}

.blue-bg {
  background-color: #14213D;
}

.yellow {
  color: #FCA311;
}

.yellow-bg {
  background-color: #FCA311;
}

.gray {
  color: #FCA311;
}

.gray-bg {
  background-color: #FCA311;
}

body {
  background-color: #14213D;
}