@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply hover:underline text-blue-500;
  }
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.welcome-text {
  animation-name: fade-in;
  animation-duration: 4s;
}

body {
  font-family: 'Nunito';
}

.welcome {
  height: auto;
}

.contact {
  height: 20vh;
}

.blue {
  color: #14213D;
}

.blue-bg {
  background-color: #14213D;
}

.yellow {
  color: #FCA311;
}

.yellow-bg {
  background-color: #FCA311;
}

.gray {
  color: #FCA311;
}

.gray-bg {
  background-color: #FCA311;
}

body {
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .text {
    text-shadow: 1px 1px 2px #202020;
  }
}
